body, html {
	height: 100%;
	margin: 0;
}
::placeholder {
	color: #bfbfbf;
	font-size: 18px;
}
input:focus {
	outline: none;
	border-bottom-width: 1.5px;
	border-bottom-color: white;
}
.bg {
    background-image: url("https://hdqwalls.com/download/hex-abstract-material-design-ad-3840x2160.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
}
.main {
	max-width: 320px;
	max-height: 500px;
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 4px;
	padding: 48px 28px;
}
.welcome {
	font-family: Trebuchet MS;
	font-size: 50px;
	color: white;
	text-align: center;
}
.credentials {
	padding: 8px;
	margin: 4px 0;
	width: 100%;
	color: white;
	font-size: 20px;
	background: transparent;
	border:0;
	border-bottom: 1px solid #bfbfbf;
}
.loginbutton {
	margin: 8px 0 8px auto;
	display: block;
	padding: 8px 16px;
	font-size: 16px;
	color: white;
	background-color: #42648a;
    border: 0;
	border-radius: 4px;
}
button:hover {
	background-color: #3a5778;
	cursor: pointer;
}
button:active {
	background-color: #324b67;
}
button:focus {
	outline: none;
}
b:hover {
    text-decoration: underline;
	text-decoration-color:#648ab4;
	cursor: pointer;
}